.box{
  width: 900px;
  float: right;
  border: 1px solid black;
  font-family: 'Freckle Face', cursive;
  font-size: 20px;
  
}

.box ul li{
  width: 120px;
  float: left;
  margin: 10px auto;
  text-align: center;
}

.box ul li a{
  text-decoration: none;
  color: darkgray;
   
}

.box ul li:hover{
  background-color: darkgreen;
}
.box ul li a :hover {color: white;}

.wd{
  width: 300px;
  height: 700px;
  background-color: black;
  opacity: 0.9;
  padding: 55px;

}

.wd h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 120px;
  font-family: 'Freckle Face';
  font-family: 'Knewave';
  color: green;
  font-size: 32px;
}

.wd h4{
  text-align: justify;
  color: darkgray;
  font-weight: normal;
  font-family: 'Freckle Face', cursive;
  font-family: 'Knewave', cursive;
  font-size: 18px;
  text-align: right;
  
}

.opt form ,input[type="button"]{
  background-color: black;
  color: white;
  padding: 10px;
  margin: -14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
form,input[type="button"]:hover{background-color: green;}

#slider {
overflow: hidden;
}

#slider figure {
position: relative;
width: 500%;
margin: 0%;
left: 0%;
animation: 20s slider  infinite;
}

#slider figure img {
width: 20%;
float: left;
}

@keyframes slider {
0% {
  left: 0;
}
20% {
  left: 0;
}
25% {
left: -100%;
}

45% {
left: -100%;
}
50% {
left: -200%;
}
70% {
left: -200%;
}
75% {
left: -300%;
}
95% {
left: -300%;
}
100% {
left: -400%;
}