body{
    background-color: rgb(208, 218, 218);
}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
     font-family: 'italic',Arial Narrow Bold, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #4CAF50;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .navbar-brandname h1{
    font-family: 'italic', cursive;
     color: #4CAF50;
     font-size: 3.0em;
     text-transform:uppercase;
     text-decoration: floralwhite;
     text-shadow: 2px 2px 2px rgb(2, 2, 2);
     margin-top: 0;
     margin-bottom: 0;
    }
    .navbar-brandname span{
        color: rgb(75, 34, 34);
    }
    .cover-slides{
        height: 100vh;
    }
    .slides-navigation a {
        background: #4CAF50;
        position: absolute;
        height: 50px;
        width: 50px;
        top: 50%;
        font-size: 20px;
        display: block;
        color: #fff;
        border-radius: 4px;
        line-height: 63px;
        text-align: center;
        transition: all .3s ease-in-out;
    }
    .slides-navigation a i{
        font-size: 40px;
    }
    .slides-navigation a:hover {
        background: #010101;
    }
    .cover-slides .container{
        height: 100%;
        position: relative;
        z-index: 2;
    }
    .cover-slides .container > .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .cover-slides .container > .row {
        height: 100%;
    }
    
    .btn{
        text-transform: uppercase;
        padding: 19px 36px;
    }
    .btn{
        display: inline-block;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 2px solid transparent;
        padding: 12px 30px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: .1875rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .btn-outline-new-white {
        color: #fff;
        background-color: #4CAF50;
        background-image: none;
        border-color: #4CAF50;
    }
    .btn-outline-new-white:hover {
        color: #ffffff;
        background-color: #333333;
        border-color: #333333;
    }
    
    .overlay-background {
        background: #333;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
    }
    
    .cover-slides h1{
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 64px;
        color: #fff;
    }
    .cover-slides p{
        font-size: 18px;
        color: #fff;
    }
    .slides-pagination a{
        border: 2px solid #ffffff;
    }
    .slides-pagination a.current{
        background: #4CAF50;
        border: 2px solid #4CAF50;
    }
    